{% extends 'main/base.html' %} {% block title %}Create a Post{% endblock %} 
{%load crispy_forms_tags %} {% block content %} {% comment %}
<form method="post">
  {% csrf_token %}{{form|crispy}}
  <button type="submit" class="btn btn-success">Post</button>
</form>
{% endcomment %}
<div class="wrap">
  <div class="form-check form-check-inline">
    <input
      class="form-check-input"
      type="radio"
      name="inlineRadioOptions"
      id="inlineRadio1"
      value="option1"
    />
    <label class="form-check-label" for="inlineRadio1">1</label>
  </div>
  <div class="form-check form-check-inline">
    <input
      class="form-check-input"
      type="radio"
      name="inlineRadioOptions"
      id="inlineRadio2"
      value="option2"
    />
    <label class="form-check-label" for="inlineRadio2">2</label>
  </div>
  <div class="form-check form-check-inline">
    <input
      class="form-check-input"
      type="radio"
      name="inlineRadioOptions"
      id="inlineRadio3"
      value="option3"
      disabled
    />
    <label class="form-check-label" for="inlineRadio3">3 (disabled)</label>
  </div>

  <form id="1">
    <div class="form-group">
      <fieldset>
        <legend><strong>Encode / Hide</strong></legend>

        <label for="hide_message">
          message:
          <input
            class="form-control"
            type="text"
            name="hide_message"
            id="hide_message"
            required
          />
        </label>

        <label for="image">
          image:
          <input
            class="form-control"
            type="file"
            name="image"
            id="image"
            required
          />
        </label>
        <label for="key">
          Set Key:
          <input
            class="form-control"
            type="text"
            name="key"
            id="key"
            required
          />
        </label>
        <button type="submit" class="bi" onclick="hide();">Hide</button>

        <span class="reqsize"></span>
      </fieldset>
    </div>
  </form>
  <br />
  <form id="2">
    <div class="form-group">
      <fieldset>
        <legend><strong>Decode / Unhide</strong></legend>
        <label for="key">
          Key:
          <input
            class="form-control"
            type="text"
            name="key"
            id="key"
            required
          />
        </label>
        <label for="image">
          Decode File:
          <input class="form-control" type="file" name="image" id="imaged" />
        </label>
        <button type="submit" class="bi" onclick="unnhide();">Unhide</button>
        <label for="dec_message">
          message decoded:
          <input
            class="form-control"
            type="text"
            name="dec_message"
            id="dec_message"
            readonly
          />
        </label>
      </fieldset>
    </div>
  </form>
</div>

<script type="text/javascript">
  if ("serviceWorker" in navigator) {
    navigator.serviceWorker.register("static/serviceworker.js", { scope: "/" });
  }

  let hideFiles = document.querySelector("#hidefile");
  let imageFile = document.querySelector("#image");
  let imageFiled = document.querySelector("#imaged");
  let reqS = document.querySelector(".reqsize");

  hideFiles.addEventListener("change", (e) => {
    reqS.innerText = `\nrequired image of dimension ${find(
      e.target.files[0].size
    )} or above`;
  });

  function download(file, filename) {
    const fileUrl = URL.createObjectURL(file);
    let a = document.createElement("a");
    a.setAttribute("download", filename);
    a.setAttribute("href", fileUrl);
    a.click();
    a.remove();
  }
  async function fileSendRequest(requestURL, bodyData) {
    let res = await fetch(requestURL, {
      method: "post",
      headers: {
        //'Content-Type': 'application/json'
        enctype: "multipart/form-data",
      },
      body: bodyData,
    });

    // if response is an error, exit the process
    if (res.status == 404) {
      reqS.innerText =
        "\nhmmm.. there was some error, make sure image size is correct or change the filenames or contact me on github ;P";
      return 0;
    }
    return res;
  }

  let hide = async () => {
    let formData = new FormData();
    formData.append("hide", hideFiles.files[0]);
    formData.append("img", imageFile.files[0]);

    (hideFiles.value = ""), (imageFile.value = "");

    let res = await fileSendRequest("/hide", formData);
    if (!res) return 1;

    let json = await res.blob();
    res = await fetch("/hide");

    download(json, "hidden.png");
  };

  let unnhide = async () => {
    let formData = new FormData();
    formData.append("img", imageFiled.files[0]);
    imageFiled.value = "";

    let res = await fileSendRequest("/unhide", formData);
    if (!res) return 1;

    let json = await res.blob();
    res = await fetch("/unhide");
    let ext = await res.text();

    download(json, "decoded" + ext);
  };
</script>
{% endblock %}
