{% extends 'main/base.html' %} {% block title %}Stegnography{% endblock %}
{%load crispy_forms_tags %} {% block content %}
<style>
  label,
  legend {
    background-color: transparent;
    display: block;
    font: var(--typeset_-1);
    font-weight: bold;
    margin-bottom: var(--sp_0);
  }

  label + label {
    margin-top: var(--sp_1);
  }

  label.required::after {
    content: " *";
    color: var(--color-red-500);
  }

  fieldset {
    border: 0.5px solid var(--color-gray-500);
    padding: var(--sp_2);
    margin-bottom: var(--flow-space);
    background-color: var(--color-gray-100);
  }

  fieldset > :last-child {
    margin-bottom: 1rem;
  }

  legend {
    padding: 0 0.5em;
    margin-left: -0.5em;
  }

  /* Normalize fonts, sizes, and borders */
  .button,
  button,
  input,
  select,
  textarea,
  datalist {
    font-family: inherit;
    font-size: 100%;
    line-height: inherit;
    box-sizing: border-box;

    padding: var(--sp_1) var(--sp_2);
    border: 1px solid var(--light-text-color);
    margin: 0;
    margin-bottom: var(--flow-space);
  }

  /* Normalize input width */
  .button,
  input,
  select,
  textarea,
  datalist {
    width: 100%;
  }

  textarea {
    resize: vertical;
    min-height: 10rem;
  }
  input:active,
  input:focus,
  textarea:active,
  textarea:focus,
  select:active,
  select:focus,
  datalist:focus,
  datalist:active {
    outline-offset: 1px;
  }
  input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    display: inline-block;
    top: -0.1em;
    width: 1em;
    height: 1em;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    transition: box-shadow 0.1s ease;
  }
  input[type="radio"]:checked {
    box-shadow: inset 0 0 0 0.25em var(--color-primary-500);
    border-color: var(--color-primary-500);
  }

  input[type="radio"] {
    border-radius: 50%;
  }
  .button,
  button,
  input[type="submit"],
  input[type="button"] {
    display: block;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
    width: min-content;
    background-color: transparent;
    cursor: pointer;
    box-sizing: border-box;

    color: white;
    background-color: var(--color-primary-500);
    border: 1px solid var(--color-primary-500);
    margin-bottom: var(--flow-space);

    font-weight: bold;
    padding-left: var(--sp_4);
    padding-right: var(--sp_4);
  }
  .button[tabindex="-1"],
  button[disabled],
  input[type="submit"][disabled],
  input[type="button"][disabled] {
    background-color: var(--element-bg-color);
    color: var(--color-gray-500);
    border-color: var(--element-bg-color);
  }
  label, input,legend{
    display: block;
}

label,legend {
    margin-bottom: 20px;
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script>
  $(document).ready(function () {
    $("#Radio1").click(function () {
      $("#imgupload").hide();
      $("#audioupload").hide();
      $("#videoupload").hide();
      $("#txtupload").show();
      $("#hide").show();
    });
    $("#Radio2").click(function () {
      $("#txtupload").hide();
      $("#audioupload").hide();
      $("#videoupload").hide();
      $("#imgupload").show();
      $("#hide").show();
    });
    $("#Radio3").click(function () {
      $("#txtupload").hide();
      $("#imgupload").hide();
      $("#videoupload").hide();
      $("#audioupload").show();
      $("#hide").show();
    });
    $("#Radio4").click(function () {
      $("#txtupload").hide();
      $("#imgupload").hide();
      $("#audioupload").hide();
      $("#videoupload").show();
      $("#hide").show();
    });
  });

</script>
<div class="wrap">
  <form method="post" enctype="multipart/form-data">
    <legend><strong>Encode / hide</strong></legend>
    <div class="form-check form-check-inline">
      <input
        class="form-check-input"
        type="radio"
        name="stegType"
        id="Radio1"
        value="text"
      />
      <label class="form-check-label" for="inlineRadio1">Text</label>
    </div>
    <div class="form-check form-check-inline">
      <input
        class="form-check-input"
        type="radio"
        name="stegType"
        id="Radio2"
        value="image"
      />
      <label class="form-check-label" for="inlineRadio2">Image</label>
    </div>
    <div class="form-check form-check-inline">
      <input
        class="form-check-input"
        type="radio"
        name="stegType"
        id="Radio3"
        value="audio"
      />
      <label class="form-check-label" for="inlineRadio3">Audio</label>
    </div>
    <div class="form-check form-check-inline">
      <input
        class="form-check-input"
        type="radio"
        name="stegType"
        id="Radio4"
        value="video"
      />
      <label class="form-check-label" for="inlineRadio3">Video</label>
    </div>
    <div id="txtupload" style="display:none;">
    <label class="custom-file-upload" for="file_to_encode">
      Upload text file
      <input type="file" name="file_to_encode" id="file_to_encode" accept=".txt"/>
      <i class="fa-solid fa-file-import"></i>
    </label>
  </div>
  <div id="imgupload" style="display:none;">
    <label class="custom-file-upload" for="file_to_encode">
      Upload image (Consider only uploading RGB images)
      <input type="file" name="file_to_encode" id="file_to_encode" accept=".jpg,.png"/>
      <i class="fa-solid fa-file-import"></i>
    </label>
  </div>
  <div id="audioupload" style="display:none;">
    <label class="custom-file-upload" for="file_to_encode">
      Upload audio (Consider only uploading wav files)
      <input type="file" name="file_to_encode" id="file_to_encode" accept=".wav"/>
      <i class="fa-solid fa-file-import"></i>
    </label>
  </div>
  <div id="videoupload" style="display:none;">
    <label class="custom-file-upload" for="file_to_encode">
      Upload video (Consider only uploading mp4 files)
      <input type="file" name="file_to_encode" id="file_to_encode" accept=".mp4"/>
      <i class="fa-solid fa-file-import"></i>
    </label>
    <label style="margin-top:10px;">
      Enter Frame Number:
      <input type="text" class="form-control" name="frame" id="frame" required>
    </label>
  </div>
    <label for="message">
      Message:
      <textarea
        class="form-control"
        name="message"
        id="message"
        rows="5"
        required
      ></textarea>
    </label>
    {% csrf_token %}{{form|crispy}}
    <div style="display:none"  id="hide">
    <button type="submit" class="btn btn-success">Hide</button>
    </div>
  </form>
  <br />
  <hr />
</div>

{% endblock %}
